
body,h1,h2,h3,h4,h5,h6,p,a,i,span,input,img,ul,li,ol,dl,dt,dd,form,input,textarea,th,td,select,figure,figcaption{
	padding: 0;
	margin: 0;
}

ul,ol,li{
	list-style: none;
}
img{
	display: block;
	border:none;
}
table{border-collapse: collapse;}
textarea{resize: none;overflow: hidden;}
input{
	outline: none;
}
top,banner,main,nav,foot,links{
	display: block;
}
body{
	font-size: 14px;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
	font-size: 12px;
}
*{
	box-sizing:border-box;
}
.fl{
	float: left;
}

.fr{
	float: right;
}

.clearfix{
	zoom: 1;
}
.clearfix:after{
	display: block;
	content: "";
	visibility: hidden;
	clear: both;
	height: 0;	
}

/*说明提示框*/
.sm_box{
	display: none;
	position: absolute;
	z-index: 1;
	left: 20%;
	top: -25px;
	min-width:60px;
	height: 25px;
	font-size: 12px;
	line-height: 18px;
	padding: 3px;
	border:1px solid #ea7514;
	border-radius: 5px;
	background-color: #ffc;
}
.sm_box::before,.sm_box::after{
	content:'';
	position:absolute;bottom:-10px;left:10px;
	border:5px solid #fff;
	border-color:red transparent transparent;
}
.sm_box::after{
	bottom:-9px;
	border-top-color:#ffc;
}





@font-face {font-family: "iconfont";
  src: url('../icon-font/iconfont.eot?t=1495640872826'); /* IE9*/
  src: url('../icon-font/iconfont.eot?t=1495640872826#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../icon-font/iconfont.woff?t=1495640872826') format('woff'), /* chrome, firefox */
  url('../icon-font/iconfont.ttf?t=1495640872826') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../icon-font/iconfont.svg?t=1495640872826#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before { content: "\e604"; }

.icon-fenlei:before { content: "\e613"; }

.icon-circularwuxing:before { content: "\e6c1"; }

.icon-x:before { content: "\e641"; }

.icon-weixin:before { content: "\e675"; }

.icon-erweima:before { content: "\e7ba"; }

.icon-meirongmeifa:before { content: "\e61e"; }

.icon-iconfontqq:before { content: "\e649"; }

.icon-shoucang:before { content: "\e639"; }

.icon-dingdan:before { content: "\e622"; }

.icon-shoucang1:before { content: "\e64a"; }

.icon-gouwuche:before { content: "\e63a"; }

.icon-daifukuan:before { content: "\e60e"; }

.icon-icon052:before { content: "\e63e"; }

.icon-toufa:before { content: "\e607"; }

.icon-yue:before { content: "\e664"; }

.icon-zaoxing:before { content: "\e64e"; }

.icon-bell:before { content: "\e620"; }

.icon-fenlei1:before { content: "\e608"; }

.icon-fenlei2:before { content: "\e603"; }

.icon-mianmoshixin:before { content: "\e6a8"; }

.icon-wode:before { content: "\e64b"; }

.icon-daifahuo:before { content: "\e646"; }

.icon-kefulianxi:before { content: "\e605"; }

.icon-ranfa:before { content: "\e606"; }

.icon-gengduosandian:before { content: "\e6e5"; }

.icon-fenlei3:before { content: "\e64c"; }

.icon-jinru:before { content: "\e623"; }

.icon-daifahuo1:before { content: "\e801"; }

.icon-backtop:before { content: "\e635"; }

.icon-weibo:before { content: "\e609"; }

.icon-lianxikefu:before { content: "\e62d"; }

.icon-iconfont0090:before { content: "\e624"; }

.icon-coupon:before { content: "\e618"; }

.icon-shouye:before { content: "\e60a"; }

.icon-favicon:before { content: "\e600"; }

.icon-meirongmeifa1:before { content: "\e707"; }

.icon-youhuiquan:before { content: "\e60b"; }

.icon-unie644:before { content: "\e67c"; }

.icon-icon2:before { content: "\e669"; }

.icon-daishouhuo:before { content: "\e653"; }

.icon-cuo:before { content: "\e642"; }

.icon-shouhuodizhi:before { content: "\e62b"; }

.icon-huidaodingbu-copy-copy:before { content: "\e637"; }

.icon-wuxing:before { content: "\e62a"; }

.icon-zhong:before { content: "\e601"; }

.icon-dingbu:before { content: "\e654"; }

.icon-xihu:before { content: "\e659"; }

.icon-kejian:before { content: "\e831"; }

.icon-bukejian:before { content: "\e832"; }

.icon-meifa-teshuhuli:before { content: "\e667"; }

.icon-sousuo_sousuo:before { content: "\e602"; }

.icon-meizhuangrihua:before { content: "\e614"; }

.icon-sousuo_sousuo1:before { content: "\e501"; }

.icon-sandian:before { content: "\e628"; }

.icon-shouhuodizhi1:before { content: "\e6cd"; }

.icon-xiaofei:before { content: "\e60c"; }

.icon-lianxikefu1:before { content: "\e60d"; }

.icon-ico_xihu:before { content: "\e64f"; }
